<div class="col-xs-12">
	<div id="list-example" class="list-group">
		<a class="list-group-item list-group-item-action {{set_active_route('Presentation_maire')}}" href="{{path('Presentation_maire')}}">presentation de la mairie</a>
		<a class="list-group-item list-group-item-action {{set_active_route('Presentation_fonctionnement')}}" href="{{path('Presentation_fonctionnement')}}">les organes de fonctionnement</a>
		<a class="list-group-item list-group-item-action {{set_active_route('Presentation_administration')}}" href="{{path('Presentation_administration')}}">l'administration municipale</a>
	</div>
</div>
