{% extends 'base.html.twig' %}

{% block title %}Administration - Mairie de Zuenoula
{% endblock %}

{% block body %}
	<ol class="breadcrumb mt-1">
		<li class="breadcrumb-item">
			<a href="{{path('app_home')}}">accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="#">La commune en bref</a>
		</li>
		<li class="breadcrumb-item active">La mairie et son Administration</li>
	</ol>
	<div class="container">
		<div class="titre_actu">
			<h1>
				la mairie et son administration
				<hr>
			</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include "mairie/_sidebar.html.twig" %}
			</div>
			<div class="col-md-9">
				{% for municipalite in municipalites %}
					<h4 align="center" style="text-transform: uppercase; font-weight: bold;">
						{{municipalite.titre}}
					</h4>
					{{municipalite.description|raw}}
				{% endfor %}
				{% for administration_de_municipalite in administration_de_municipalites %}

					<p style="background: blue; font-weight: bold; text-transform: uppercase; text-align: center; color: #fff;">
						{{administration_de_municipalite.titre}}
					</p>
					{{administration_de_municipalite.contenue|raw}}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
