{% extends 'base.html.twig' %}

{% block title %}Maire - Mairie de Zuenoula
{% endblock %}

{% block body %}
	<ol class="breadcrumb mt-1">
		<li class="breadcrumb-item">
			<a href="{{path('app_home')}}">accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="#">La commune en bref</a>
		</li>
		<li class="breadcrumb-item active">La mairie et son Administration</li>
	</ol>
	<div class="container mt-4">
		<div class="titre_actu">
			<h1>
				la mairie et son administration
				<hr>
			</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include "mairie/_sidebar.html.twig" %}
			</div>

			<div class="col-md-9">
				<h4 align="center" style="text-transform: uppercase; font-weight: bold;">PRESENTATION DE LA MAIRIE</h4><br>
				<div class="row">
					<div class="col-md-4">
						{% for mairesRece in mairesRece %}
							<img src="{{ vich_uploader_asset(mairesRece, 'imageFile')}}" width="100%" alt="{{ mairesRece.nomPrenom}}" srcset="">
							<legend>
								<small>{{mairesRece.nomPrenom}}</small>
							</legend>
						{% endfor %}
					</div>
					<div class="col-md-8">
						{% for presentation_mairie in presentation_mairies %}
							{{ presentation_mairie.contenue|raw }}
						{% endfor %}
					</div>
				</div>
				<h4 align="center" style="text-transform: uppercase; font-weight: bold;">LES DIFFERENTS MAIRES DEPUIS LA CREATION DE LA COMMUNE.</h4>
				{% for maire in maires %}
					{% if maire.id == 1 %}
						<p>
							{{maire.id}}er
							{{maire.nomPrenom}}
						</p>
					{% else %}
						<p>
							{{maire.id}}ème
							{{maire.nomPrenom}}
						</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
