{% for row in articles|batch(3)  %}
	<div class="row mt-2" aiv="cls: aiv-slide-left; children: .card; delay: 200; delay_all: 500; repeat;">

		{% for article in row %}
			<div class="col-md-4 ">
				<div class="card bg-white rounded shadow article">
					<div class="mw-100 overflow-hidden">
						<a href="{{ path('article_detail',{'slug': article.slug}) }}">
							<img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article')}}" class="rounded mx-auto d-block w-100" alt="{{article.titre|u.truncate(20,'...',false) | raw}}"></a>


					</div>
					<div class="card-body">
						<h5 class="card-title">{{article.titre|u.truncate(10,'...',false) | raw}}</h5>
						<hr>
						<div class="row">
							<div class="col-lg-12">
								<p>Publier :
									<time class="timeago">{{article.publishedAt| ago(locale='fr')}}

									</time>
								</p>
							</div>
						</div>
						<p class="text-justify">{{article.contenue|u.truncate(100,'...',false) | raw}}</p>

						<p style="color: #ff5500;">
							<i style="color: #838383;" class="fas fa-user-circle"></i>
							Auteur:
							{{ article.user.pseudo }}</p>
						<div class="text-center">
							<a href="{{ path('article_detail',{'slug': article.slug}) }}" class="btn btn-outline-warning btn-md">Suite...</a>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endfor %}
