{% extends 'AdminBase1.html.twig' %}

{% block title %}Organe De Fonctionnement
{% endblock %}
{% block stylesheets %}<link href="{{asset('vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}

	<div class="container-fluid">
		{% include 'admin/adminbase/notification.html.twig'%}

		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Organe De Fonctionnement</h1>

			<a href="{{ path('admin_organe_de_fonctionnement_new') }}" class="btn btn-primary btn-icon-split">


				<span class="icon text-white-50">
					<i class="fas fa-plus"></i>
				</span>
				<span class="text">Nouvel Organe De Fonctionnement</span>
			</a>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Liste des Organes De Fonctionnement</h6>
			</div>
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>ID</th>
									<th>Titre</th>
									<th>Image</th>
									<th>Publié le</th>
									<th>actions</th>
								</tr>
							</thead>
							<tbody>
								{% for organe_de_fonctionnement in organe_de_fonctionnements %}
									<tr>
										<td>{{ organe_de_fonctionnement.id }}</td>
										<td>{{ organe_de_fonctionnement.titre|u.truncate(20,'...',false)|raw }}</td>
										<td>
											{% if organe_de_fonctionnement.imageName %}
												<img src="{{ vich_uploader_asset(organe_de_fonctionnement, 'imageFile')|imagine_filter('article_admin')}}" alt="image de {{ organe_de_fonctionnement.titre }}"/>
											{% else %}
												pas d'image
											{% endif %}
										</td>
										<td>{{ organe_de_fonctionnement.publishedAt ? organe_de_fonctionnement.publishedAt|date('m-d-Y H:i:s') : '' }}</td>

										<td>
											<div class="row">
												<div class="col-md-3">
													<a href="" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#modal{{ organe_de_fonctionnement.id }}" type="button">
														<span class="icon text-white-50">
															<i class="fas fa-eye"></i>
														</span>
														<span class="text">Voir</span>
													</a>
												</div>
												<div class="col-md-1"></div>
												<div class="col-md-4">
													<a href="{{ path('admin_organe_de_fonctionnement_edit', {'id': organe_de_fonctionnement.id}) }}" class="btn btn-primary btn-icon-split">

														<span class="icon text-white-50">
															<i class="fas fa-pen" aria-hidden="true"></i>
														</span>
														<span class="text">Modifier</span>
													</a>
												</div>
												<div class="col-md-1"></div>
												<div class="col-md-3">
													<form method="post" action="{{ path('admin_organe_de_fonctionnement_delete', {'id': organe_de_fonctionnement.id}) }}" onsubmit="return confirm('Etre vous sûr de vouloir supprimer le organe_de_fonctionnement numéro {{ organe_de_fonctionnement.id }} ?');">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organe_de_fonctionnement.id) }}">
														<button class="btn btn-danger btn-icon-split">
															<span class="icon text-white-50">
																<i class="fas fa-trash"></i>
															</span>
														</button>
													</form>
												</div>
											</div>

											<div class="modal fade" id="modal{{ organe_de_fonctionnement.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title mt-0">
																Presentation numéro
																{{ organe_de_fonctionnement.id }}</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<div class="card profil">
																<div class="card-body">
																	{{ organe_de_fonctionnement.contenue|raw }}

																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /.modal-content -->
												</div>
												<!-- /.modal-dialog -->
											</div>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="5">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="col-md-6 offset-md-3">
							{% do organe_de_fonctionnements.setPageRange(3) %}
							{{knp_pagination_render(organe_de_fonctionnements,'base/pagination.html.twig')}}

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
