{% extends 'AdminBase1.html.twig' %}

{% block title %}Admin - Mairie de Zuenoula
{% endblock %}


{% block body %}
	<!-- Begin Page Content -->
	<div
		class="container-fluid">

		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
			<a href="{{ path('app_home') }}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
				<i class="fas fa-eye fa-sm text-white-50"></i>
				Voir le site</a>
		</div>


		<!-- Content Row -->
		<div
			class="row">

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
									E-mail</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">6</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar" style="width: 6%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-mail-bulk fa-2x text-gray-300"></i>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
									Earnings (Annual)</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Articles
								</div>
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{articles|length}}</div>

									</div>
									<div class="col">
										<div class="progress progress-sm mr-2">
											<div class="progress-bar bg-info" role="progressbar" style="width: {{(articles|length)*100/(articles|length)}}%" aria-valuenow="{{articles|length}}" aria-valuemin="0" aria-valuemax="100"></div>


										</div>
									</div>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Pending Requests Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
									Pending Requests</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="row">

			<!-- Content Column -->
			<div
				class="col-lg-6 mb-4">

				<!-- Project Card Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Statistic des articles</h6>
					</div>
					<div class="card-body">
						<h4 class="small font-weight-bold">Articles validé
							<span class="float-right">{{(articlesValide|length)*100/(articles|length)}}%</span>


						</h4>
						<div class="progress mb-4">
							{% if (((articlesValide|length)*100/(articles|length))==100) %}
								<div class="progress-bar bg-success" role="progressbar" style="width: {{(articlesValide|length)*100/(articles|length)}}%" aria-valuenow="{{(articlesValide|length)*100/(articles|length)}}" aria-valuemin="0" aria-valuemax="100"></div>

							{% else %}
								<div class="progress-bar bg-info" role="progressbar" style="width: {{(articlesValide|length)*100/(articles|length)}}%" aria-valuenow="{{(articlesValide|length)*100/(articles|length)}}" aria-valuemin="0" aria-valuemax="100"></div>

							{% endif %}


						</div>
						<h4 class="small font-weight-bold">Articles non accepter
							<span class="float-right">{{(articlesInValide|length)*100/(articles|length)}}%</span>


						</h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-danger" role="progressbar" style="width:{{(articlesInValide|length)*100/(articles|length)}}%" aria-valuenow="{{(articlesInValide|length)*100/(articles|length)}}" aria-valuemin="0" aria-valuemax="100"></div>


						</div>
					</div>
				</div>
			</div>
			<div
				class="col-lg-6 mb-4">

				<!-- Project Card Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Statistic des Commentaires</h6>
					</div>
					<div class="card-body">
						<h4 class="small font-weight-bold">Articles validé
							<span class="float-right">{{(articlesValide|length)*100/(articles|length)}}%</span>


						</h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-success" role="progressbar" style="width: {{(articlesValide|length)*100/(articles|length)}}%" aria-valuenow="{{(articlesValide|length)*100/(articles|length)}}" aria-valuemin="0" aria-valuemax="100"></div>


						</div>
						<h4 class="small font-weight-bold">Articles non accepter
							<span class="float-right">{{(articlesInValide|length)*100/(articles|length)}}%</span>


						</h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-danger" role="progressbar" style="width:{{(articlesInValide|length)*100/(articles|length)}}%" aria-valuenow="{{(articlesInValide|length)*100/(articles|length)}}" aria-valuemin="0" aria-valuemax="100"></div>


						</div>
						<h4 class="small font-weight-bold">Customer Database
							<span class="float-right">60%</span>
						</h4>
						<div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Payout Details
							<span class="float-right">80%</span>
						</h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Account Setup
							<span class="float-right">Complete!</span>
						</h4>
						<div class="progress">
							<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- /.container-fluid -->
		{% block javascripts %}
			<!-- Page level plugins -->
			<script src="{{asset('vendor/chart.js/Chart.min.js')}}"></script>
			<!-- Page level custom scripts -->
			<script src="{{asset('js/demo/chart-area-demo.js')}}"></script>

			<script src="{{asset('js/demo/chart-pie-demo.js')}}"></script>
		{% endblock %}

	{% endblock %}
