{% extends 'base.html.twig' %}

{% block title %}Flash index{% endblock %}

{% block body %}
    <h1>Flash index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flash in flashes %}
            <tr>
                <td>{{ flash.id }}</td>
                <td>{{ flash.contenue }}</td>
                <td>
                    <a href="{{ path('flash_show', {'id': flash.id}) }}">show</a>
                    <a href="{{ path('flash_edit', {'id': flash.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('flash_new') }}">Create new</a>
{% endblock %}
