{% extends 'AdminBase1.html.twig' %}

{% block title %}Mot maire index


{% endblock %}
{% block stylesheets %}<link href="{{asset('vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}

	<div class="container-fluid">
		{% include 'admin/adminbase/notification.html.twig'%}

		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard Mot maire</h1>


			<a href="{{ path('admin_motmaire_new') }}" class="btn btn-primary btn-icon-split">

				<span class="icon text-white-50">
					<i class="fas fa-plus"></i>
				</span>
				<span class="text">Nouvel Mot maire</span>


			</a>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Liste des Mots maires</h6>


			</div>
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nom</th>
									<th>Image</th>
									<th>actions</th>
								</tr>
							</thead>
							<tbody>
								{% for motmaire in motmaires %}


									<tr>
										<td>{{ motmaire.id }}</td>
										<td>{{ motmaire.nom }}</td>
										<td>
											{% if motmaire.imageName %}
												<img src="{{ vich_uploader_asset(motmaire, 'imageFile')|imagine_filter('article_admin')}}" alt="image de {{ motmaire.nom }}"/>
											{% else %}
												<img src="{{asset('assets/images/users/user-4.jpg')}}" width="100" height="15" alt="{{ motmaire.nom}}"/>
											{% endif %}
										</td>
										<td>{{ motmaire.publishedAt ? motmaire.publishedAt|date('m-d-Y H:i:s') : '' }}</td>

										<td>
											<div class="row">
												<div class="col-md-3">
													<a href="" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#modal{{ motmaire.id }}" type="button">

														<span class="icon text-white-50">
															<i class="fas fa-eye"></i>
														</span>
														<span class="text">Voir</span>
													</a>
												</div>
												<div class="col-md-4">
													<a href="{{ path('admin_motmaire_edit', {'id': motmaire.id}) }}" class="btn btn-primary btn-icon-split">


														<span class="icon text-white-50">
															<i class="fas fa-pen" aria-hidden="true"></i>
														</span>
														<span class="text">Modifier</span>
													</a>
												</div>
												<div class="col-md-4">
													<form method="post" action="{{ path('admin_motmaire_delete', {'id': motmaire.id}) }}" onsubmit="return confirm('Etre vous sûr de vouloir supprimer le maire {{ motmaire.nom }} ?');">


														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motmaire.id) }}">
														<button class="btn btn-danger btn-icon-split">
															<span class="icon text-white-50">
																<i class="fas fa-trash"></i>
															</span>
															<span class="text">Supprimer</span>
														</button>
													</form>
												</div>
											</div>

											<div class="modal fade" id="modal{{ motmaire.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title mt-0">
																Nom du maire:
																{{ motmaire.nom }}</h5>

															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<div class="card profil">
																<div class="card-body">
																	{% if motmaire.imageName %}
																		<img src="{{ vich_uploader_asset(motmaire, 'imageFile')|imagine_filter('article_admin')}}" alt="image de {{ motmaire.nom }}"/>
																	{% else %}
																		<img src="{{asset('assets/images/users/user-4.jpg')}}" width="100" height="15" alt="{{ motmaire.nom}}"/>
																	{% endif %}
																	<p class="mt-4">
																		<b>mot du maire</b>
																	</p>

																	{{ motmaire.contenue|raw }}

																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /.modal-content -->
												</div>
												<!-- /.modal-dialog -->
											</div>
										</td>

									</tr>
								{% else %}
									<tr>
										<td colspan="4">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="col-md-6 offset-md-3">
							{% do motmaires.setPageRange(3) %}

							{{knp_pagination_render(motmaires,'base/pagination.html.twig')}}


						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
