{% extends 'base.html.twig' %}

{% block title %}ImageSport{% endblock %}

{% block body %}
    <h1>ImageSport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image_sport.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ image_sport.imageName }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ image_sport.publishedAt ? image_sport.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ image_sport.updatedAt ? image_sport.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_image_sport_index') }}">back to list</a>

    <a href="{{ path('admin_image_sport_edit', {'id': image_sport.id}) }}">edit</a>

    {{ include('admin_image_sport/_delete_form.html.twig') }}
{% endblock %}
